@import "../Variables.scss";

.card {
  @include dCenter;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
  padding: 1rem;
  background-color: #000;
  border-radius: 10px;
  background: transparent;
  color: #000;
  @media (max-width: 280px) {
    width: 200px;
  }
  @media (max-width: 230px) {
    width: 180px;
  }
  &:hover {
    animation: jump 0.3s ease forwards;
  }
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }

  a {
    width: 100%;
    img {
      width: 100%;
      background-color: rgb(0, 0, 0, 0.1);
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
  }

  .id {
    margin: 0 0 0.6rem 0.7rem;
    font-size: 0.8rem;
    color: rgb(124, 124, 124);
    font-weight: 400;
  }

  h3 {
    margin: 0 0 0.4rem 0.6rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .types {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-left: 0.4rem;

    .type {
      @include dCenter;
      padding: 0.15rem 1.3rem;
      border-radius: 5px;
      color: #fff;
      font-size: 0.8rem;
      text-transform: capitalize;
      display: inline-block;
      font-weight: 500;

      &.normal {
        background: $gradient-normal;
      }

      &.fire {
        background: $gradient-fire;
      }

      &.water {
        background: $gradient-water;
      }

      &.electric {
        background: $gradient-electric;
      }

      &.grass {
        background: $gradient-grass;
      }

      &.ice {
        background: $gradient-ice;
      }

      &.fighting {
        background: $gradient-fighting;
      }

      &.poison {
        background: $gradient-poison;
      }

      &.ground {
        background: $gradient-ground;
      }

      &.flying {
        background: $gradient-flying;
      }

      &.psychic {
        background: $gradient-psychic;
      }

      &.bug {
        background: $gradient-bug;
      }

      &.rock {
        background: $gradient-rock;
      }

      &.ghost {
        background: $gradient-ghost;
      }

      &.dragon {
        background: $gradient-dragon;
      }

      &.dark {
        background: $gradient-dark;
      }

      &.steel {
        background: $gradient-steel;
      }

      &.fairy {
        background: $gradient-fairy;
      }
    }
  }
}