@import '../components/Variables.scss';

.container {
    @include dCenter;
    flex-wrap: wrap;
    max-width: 1300px;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: green;
}