@import './components/Variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-color: #F8F9FA #EAEAEA;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  background: #f3f4f6;
}

.app {
  flex: 1;
  @include dCenter;
  flex-direction: column;
  width: 100%;
  background-color: #F5F5F5
}

.container {
  @include dCenter;
  flex-wrap: wrap;
  max-width: 1650px;
  gap: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 1rem;
  background:  #F8F9FA;
}